*{
	padding: 0;
	margin: 0;
}

#zoneContact{
	position: absolute;
	top: 120px;
	width: 100%;
}

.verif {
	font-family: 'Exo';
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	width: 90%;
	display: flex;
	justify-content: space-around;
}

body{
	background-color: white;
}


label{
	width: 600px;
	color: rgb(62, 62, 62);
}

input{
	width: 500px;
	height: 30px;
	border-width: 0px 0px 1px 0px;
	outline: 0;
}

.champs{
	font-family: 'Exo';
	font-size: 20px;
	text-transform: uppercase;
	margin: 30px;
	display: flex;
	justify-content: space-between;	
	flex-wrap: wrap;
}

#bouton{
	height: 30px;
	width: 200px;
	margin: 20px;
	font-family: 'Exo';
}


