*{
	padding: 0;
	margin: 0;
}


/* ------------------------ Contact ------------------------ */

#zone_verif{
	position: absolute;
	grid-column-start: 2;
	color: red;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 400px 1fr;
	width: 100%;
	top: 100px;
}

.verif{

	grid-column-start: 2;
	z-index: 100;
}

#zoneContact{
	width: 100%;
	position: absolute;
	top: 190px;
	display: grid;
	grid-template-columns: 1fr 400px 1fr;
	font-family: 'exo';
	font-weight: 700;
}

h1{
	margin: 10px;
}

#form{
	grid-column-start: 2;
	width: 400px;
	height: 480px;
	border-radius: 20px;
	padding: 5px;
	background: #ffffff;
	box-shadow:  13px 13px 49px #d1d1d1, -13px -13px 49px #ffffff;
}

#sous_form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.label{
	margin-bottom: 10px;
}

.champs{
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-weight: 300;
}

.sous_champ{
	height: 30px;
	border: 1px solid grey;
	border-radius: 10px;
	padding-left: 10px;
	outline: none;
}
.sous_champ:hover{
	background-color: #c6c6c6cb;
	transition: 0.3s;
}


#message{
	height: 270px;
	font-family: 'exo';
	padding-top: 10px;
}

#bouton{
	width: 100px;
	height: 40px;
	border: none;
	margin-top: 30px;
	border-radius: 10px;
	margin-left: 140px;
	margin-right: 140px;
	background-color: #535ec041;
}
#bouton:hover{
	background-color: #535ec0cb;
	transition: 0.3s;
}