*{
	padding: 0px;
	margin: 0px;
}

/* ------------------------------ Histoire ------------------------------ */

/* Main*/

/* Fond */

#pres{
	top: 100px;
	position: fixed;
	display: grid;
	width: 100%;
	grid-template-columns: 45% 55%;

}

#titre{
	display: flex;
	flex-direction: column-reverse;
	align-self: center;
	margin: 10% 5% 0% 5%;
}

#main h1{
	font-family: 'Anton', sans-serif;
	font-size: 60px;
	margin-top: 200px;
	text-shadow: -8px 8px 8px rgba(0, 0, 0, 0.25);
}

#main h2{
	font-family: 'Anton', sans-serif;
	font-size: 400px;
	color: #535EC0;
	opacity: 10%;
	position: fixed;
	top: 100px;
	z-index: -1;
}

#lavillasavoye{
	width: 900px;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.25);
}


/* Texte */

#texte{
	position: absolute;
	width: 900px;
	text-align: justify;
	background: #c4c4c4;
	padding: 40px;
	top: 600px;
	margin: 0% 5% 0% 5%;
	z-index: 50;
	box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.25);
}

h3{
	font-family: 'Avenir', sans-serif;
	font-weight: bold;
	font-size: 23px;
	margin: 10px;
}

p{
	font-family: 'Avenir';
	font-size: 16px;
	margin-bottom: 50px;
}

/* ----------------------------- Galerie ----------------------------- */

main{
	width: 100%;
	position: absolute;
	top: 120px;
}

#zoneimage{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 50px;
}	

.image{
	object-fit: cover;
	width: 90%;
	margin: 5%;
	box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}

h2{
	position: relative;
	/* Police / Texte */
	font-family: 'Exo', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: white;
	text-shadow: -2px 2px 8px rgba(0, 0, 0, 0.838);
	/* Taille / Positionnement */
	width: 330px;
	height: 50px;
	margin-left: auto;
	margin-right: 2%;
	margin-top: -70px;
	text-align: center;
	padding-top: 22px;
	/* Effet Glassmorphisme */
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 8px );

}

/* Lightbox */

.lightbox{
	display: none;
	position: absolute;
	width: 100%;
	height: 1000px;
	z-index: 100;
	/* Effet glassmorphisme  */
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur( 8px );
}

.close{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	right: 25%;
}

.imagebox{
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
}

/* Zone commentaire */

#zonecomm{
	margin-top: 20px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-between;
}

#pseudo{
	font-family: 'arial';
	font-size: 15px;
	color: white;
	background-color: rgb(82, 82, 82);
	border-radius: 10px;
	text-align: center;
	width: 10%;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#commentaire{
	font-family: 'Exo';
	font-weight: 400;
	font-size: 15px;
	padding: 10px;
	width: 70%;
	border-radius: 10px;
	background: #e0e0e0;
	box-shadow: inset 20px 20px 60px #e3e3e3, inset -20px -20px 60px #ffffff;
}

#date_heure{
	width: 20%;
	height: 50px;
	font-family: 'exo', sans-serif;
}

#delete{
	width: 5%;
	height: 50px;
}

#croixcomm{
	width: 20px;
	height: 20px;
}

#form_commentaire{
	display: flex;
	justify-content: space-around;
	padding-bottom: 20px;
	margin-top: 20px;
}

#pseudo_{
	font-family: 'Exo';
	font-weight: 400;
	font-size: 15px;
	width: 200px;
	height: 50px;
	border: 0px;
	outline: none;
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: inset 20px 20px 60px #e3e3e3, inset -20px -20px 60px #ffffff;
	padding-left: 25px;
}

#comm_{
	font-family: 'Exo';
	font-weight: 400;
	font-size: 15px;
	width: 70%;
	height: 50px;
	border: 0px;
	outline: none;
	border-radius: 50px;
	background: #e0e0e0;
	box-shadow: inset 20px 20px 60px #e3e3e3, inset -20px -20px 60px #ffffff;
	padding-left: 25px;
}

#send{
	font-family: 'Exo';
	font-weight: 500;
	font-size: 20px;
	width: 10%;
	color: white;
	border: 0px;
	border-radius: 25px;
	background-color:  #535ec046;
}
#send:hover{
	background-color: #535EC0;
	transition: 0.3s;
}

/* ------------------------ Contact ------------------------ */

#zone_verif{
	position: absolute;
	grid-column-start: 2;
	color: red;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 400px 1fr;
	width: 100%;
	top: 100px;
}

.verif{

	grid-column-start: 2;
	z-index: 100;
}

#zoneContact{
	width: 100%;
	position: absolute;
	top: 190px;
	display: grid;
	grid-template-columns: 1fr 400px 1fr;
	font-family: 'exo';
	font-weight: 700;
}

#form_contact h1{
	margin: 10px;
}

#form_contact{
	grid-column-start: 2;
	width: 400px;
	height: 480px;
	border-radius: 20px;
	padding: 5px;
	background: #ffffff;
	box-shadow:  13px 13px 49px #d1d1d1, -13px -13px 49px #ffffff;
}

#sous_form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.label{
	margin-bottom: 10px;
}

.champs{
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-weight: 300;
}

.sous_champ{
	height: 30px;
	border: 1px solid grey;
	border-radius: 10px;
	padding-left: 10px;
	outline: none;
}
.sous_champ:hover{
	background-color: #c6c6c6cb;
	transition: 0.3s;
}


#message{
	height: 270px;
	font-family: 'exo';
	padding-top: 10px;
}

#submit{
	width: 100px;
	height: 40px;
	border: none;
	margin-top: 30px;
	border-radius: 10px;
	margin-left: 140px;
	margin-right: 140px;
	background-color: #535ec041;
}
#bouton:hover{
	background-color: #535ec0cb;
	transition: 0.3s;
}

/* ----------------------- Blog ----------------------- */

.masques{
	display: none;
}

.more{
	display: block;
	width: 40%;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-left: 30%;
	margin-right: 30%;
}

.less{
	display: none;
	width: 40%;
	height: 40px;
	border: none;
	border-radius: 10px;
	margin-left: 30%;
	margin-right: 30%;
}

#zone_article{
	position: absolute;
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.article{
	font-family: 'exo';
	padding: 20px;
	text-align: justify;
}

#zone_article h1{
	text-align: start;
	margin-top: 20px;
	margin-bottom: 20px;
}

#zone_article img{
	width: 100%;
	height: auto;
	border-radius: 15px;
}

/* ----------------------------- Responsive histoire ----------------------------- */

@media screen and (max-width: 1100px){
	#lavillasavoye{
		display: none;
	}
	#texte{
		margin: 0% 5% 0% 5%;
		width: 80%;
	}
}

@media screen and (max-width: 700px){
	#lavillasavoye{
		display: none;
		width: 15px;
		height: 15px;
	}
	#texte{
		width: 90%;
		margin: 0%;
		top: 520px;
		padding: 5%;
	}
	h1{
		margin-top: 100px
	}
	h2{
		top: 0px;
	}
	
}

/* ----------------------- Responsive galerie ----------------------- */

@media screen and (max-width: 1300px){
	#zoneimage{
		grid-template-columns: 1fr 1fr;
	}		
}

@media screen and (max-width: 800px){
	#zoneimage{
		grid-template-columns: 1fr;
	}		
}

/* ----------------------- Responsive contact ----------------------- */

@media screen and (max-width: 500px) {
	#form{
		background: #ffffff;
		box-shadow:  0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
	}
}

/* ----------------------- Responsive blog ----------------------- */

@media screen and (max-width: 700px) {
	#zone_article{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 500px) {
	#zone_article{
		grid-template-columns: 1fr;
	}
}